.panel.panel-open {
  margin: 16px 0px;
}

.panel {
  margin: 0xp 0px;
}

.panel .panel-summary {
  padding-top: 4px;
  padding-bottom: 4px;
}

.panel.panel-open .panel-summary {
  padding-top: 16px;
  padding-bottom: 16px;
}

.panel .panel-details {
  display: none;
  height: 0px;
}